@font-face {
    font-family: "CustomFont";
    src: url("HT Assets/StoryScript-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(180deg, orange, cyan 120%);
    font-family: "CustomFont", cursive, sans-serif;
    margin: 0;
    padding: 40px;
    min-height: 100vh;

}

h1 {
    color:black;
    text-align: center;
    font-size: 8em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.bar {
    color:black;
}

.navLinks {
    text-align: center;
    font-size:1.3em;
    margin-bottom: 10px;
    background-color:#FFBD3D;
    border-radius:15px;
    padding:5px;
    a {
        color:dodgerblue;
        font-weight:bold;
    } 
}

.onlyImg {
    display:block;
    margin:auto;
    margin-top:5em;
    margin-bottom:5em;
    width: 15%;
}

.text{
    color:black;
    font-size: 2em;
    line-height:2em;
    text-align: center;
    ul {
        width:fit-content;
        text-align:left;
        margin: 0 auto;
    }

    a {
        color:darkorange;
        font-weight:bold;
        font-size:0.8em;
        line-height:0.5em;
    } 
}

h2 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness:0.1.5em;
    text-underline-offset:0.3em;
}

h3 {
    color:grey;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.descText {
    color:black;
    font-size: 0.6em;
    line-height:0.5em;
    text-align: center;
}

.c1, .c2, .c3 {
    margin-bottom: 20em;
}
